.Button {
  font-size: rem(12);
  text-align: center;

  &:is(:hover, :focus-visible) {
    filter: brightness(0.8); // Затемнение на 20%
  }

  &:active {
    filter: brightness(0.7); // Еще большее затемнение
  }
}

.clear {
  background-color: transparent;
  border: none;
}

.l {
  text-transform: uppercase;
  font-weight: var(--font-weight-bold);
  font-size: rem(22);
  letter-spacing: 0.1em;
}
