.Header {
  position: sticky;
  top: 0;
  padding: rem(20) 0;
  border-bottom: rem(1) solid var(--color-border);
  z-index: 10;
  backdrop-filter: blur(rem(10));
}

.burger {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.title {
  text-align: center;
}
