.Header {
  position: relative;
  padding: rem(20) 0;
  border-bottom: rem(1) solid var(--color-border);
}

.burger {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.title {
  text-align: center;
}
