.container {
  padding-block: rem(10);
}

.title {
  margin-bottom: rem(16);
}

.titleNotFirst {
  margin-top: rem(32);
}

.card {
  border-bottom: rem(1) solid var(--color-border);
}

.cardLastDayOfMonth {
  border-bottom: none;
}

.spinner {
  margin: rem(50) auto;
}

.footerSpinner {
  height: rem(60);
  display: flex;
  justify-content: center;
  align-items: center;
}
